doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title CXDance Academy | Master the Art of Movement
        link(rel="stylesheet", href="../static/style.css")
        block scripts
        block style
    body
        nav#navbar
            div#logo
                img(src="/static/img/logo.png" alt="CXDA Logo")
                span.logo-text CXDA
            ul.nav-links
                li #[a(href="/") Home] 
                li #[a(href="/about") Academy] 
                li #[a(href="/contact") Join Now]
                li #[a(href="/classes") Programs]
                li #[a(href="/services") Studio]
        
        main#main-content
            block content
            
        footer#footer
            div.footer-container
                p Copyright © 2026 CXDance Academy | All Rights Reserved