extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content 
    section#introSection 
        div CXDance Academy
        div.small Master the Rhythm. Define the Movement.

    section#missionSection 
        h2 Why Choose Our Academy
        //- Add this container div to enable the Flexbox row
        div.cards-container
            div.card
                h3 Precision & Technique
                div.card-box
                    div.card-img
                        img(src="/static/img/1.png" alt="Technique")
                    div.card-content
                        p Refine your movements with a curriculum focused on structural form and artistic expression.
            
            div.card
                h3 Industry Mentorship
                div.card-box
                    div.card-img
                        img(src="/static/img/2.png" alt="Mentorship")
                    div.card-content
                        p Learn directly from professional choreographers with decades of experience on the global stage.

            div.card
                h3 World-Class Facilities
                div.card-box
                    div.card-img
                        img(src="/static/img/3.png" alt="Auditorium")
                    div.card-content
                        p Train in state-of-the-art auditoriums designed for professional acoustics and high-performance safety.

    section#sponsorSection 
        h2 Our Official Partners
        div#sponsors
            img(src="/static/img/logo1.png", class="spImage", alt="Partner 1")
            img(src="/static/img/logo2.png", class="spImage", alt="Partner 2")
            img(src="/static/img/logo3.png", class="spImage", alt="Partner 3")
            img(src="/static/img/logo4.png", class="spImage", alt="Partner 4")