doctype html
html
  head
    title CXDance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | CXDA
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/contact") Contact Us]
            li #[a(href="/") Class Info]
            li #[a(href="/") Services]
    
    section#introSection 
        div Welcome to CXDance Academy 
        div.small "ANYBODY CAN DANCE"

    section#missionSection 
        h2 Our Mission
        div.card
            h3 Perfect Your Form 
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, magni.
        div.card
            h3 Best Teachers
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, magni.

        div.card
            h3 Largest Dance Auditorium
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, magni.

    section#sponsorSection 
        h2 Our Sponsor
        div#sponsors
            img(src="/static/img/logo1.png", class="spImage")
            img(src="/static/img/logo2.png", class="spImage")
            img(src="/static/img/logo3.png", class="spImage")
            img(src="/static/img/logo4.png", class="spImage")
    footer#footer
        | Copyright ©2022 CXDance Academy  |  All Rights Reserved 
    script
      include ../static/index.js