doctype html
html
  head
    title Kinetic Artistry | Premium Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        div#logo
            img(src="/static/img/logo.png" alt="CXDA Logo")
            span.logo-text CXDA
        ul
            li #[a(href="/") Home] 
            li #[a(href="/") Academy] 
            li #[a(href="/contact") Join Now]
            li #[a(href="/") Programs]
            li #[a(href="/") Studio]
    
    section#introSection 
        div Kinetic Artistry Academy
        div.small Master the Rhythm. Define the Movement.

    section#missionSection 
        h2 Why Choose Our Academy
        //- The wrapper below ensures your cards align in a row
        div.cards-container
            div.card
                h3 Precision & Technique 
                div.card-box
                    div.card-img
                        img(src="/static/img/1.png")
                    div.card-content
                        p Refine your movements with a curriculum focused on structural form and artistic expression.
            div.card
                h3 Industry Mentorship
                div.card-box
                    div.card-img
                        img(src="/static/img/2.png")
                    div.card-content
                        p Learn directly from professional choreographers with decades of experience on the global stage.

            div.card
                h3 World-Class Facilities
                div.card-box
                    div.card-img
                        img(src="/static/img/3.png")
                    div.card-content
                        p Train in state-of-the-art auditoriums designed for professional acoustics and high-performance safety.

    section#sponsorSection 
        h2 Our Official Partners
        div#sponsors
            img(src="/static/img/logo1.png", class="spImage")
            img(src="/static/img/logo2.png", class="spImage")
            img(src="/static/img/logo3.png", class="spImage")
            img(src="/static/img/logo4.png", class="spImage")
            
    footer#footer
        div.footer-container
            p Copyright © 2026 Kinetic Artistry Academy | All Rights Reserved
            
    script
      include ../static/index.js